body {
    margin: 0;
    background: white;
    font-family: "Segoe UI";
}

html,
body {
    height: 100%;
}

.banner {
    background-color: #17A2B8;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
}

.banner>div:first-child {
    height: 32px;
    background-color: #17A2B8;
}

nav {
    position: relative;
}

nav input[type="checkbox"] {
    display: none;
}

nav label {
    content: "";
    display: none;
    cursor: pointer;
    width: 25px;
    height: 14px;
    background-image: url('../static-files/menu.png');
    margin: 16px 0 0 20px;

    /* transition: 0.3s; */
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo {
    width: 142px;
    height: 142px;
}

.group-logo label {
    text-align: center;
}

.group-logo button {
    background: #2F418A;
    border-radius: 4px;
    border: none;
    width: 208px;
    height: 56px;
    margin-top: 48px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.registration-section {
    background: #F8F9FA;
    display: flex;
}

.text-container {
    font-size: 16px;
}

.text-container>p:first-child {
    margin: 0;
}

.text-container>p:last-child {
    margin: 0;
}

.registration>h2 {
    display: block;
    margin: auto;
    font-size: 32px;
    line-height: 43px;
    font-weight: 500;
}

.info {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
}

.price-section {
    overflow: auto;
}

.price-section table {
    width: 100%;
    border-collapse: collapse;
}

.price-section>table tbody {
    font-size: 16px;
    line-height: 21px;
}

.price-table-lable {
    margin-bottom: 32px;
}

.price-table-lable h2 {
    display: block;
    margin: auto;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    font-weight: 500;
}

.price-table-lable span {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: normal;
}

.price-section table tbody tr:first-child {
    border-top: 1px solid #DEE2E6;
    border-bottom: 2px solid #DEE2E6;
}

.price-section table tbody tr {
    border-top: 1px solid #DEE2E6;
}

.price-section table th[scope="row"] {
    font-weight: normal;
    text-align: start;
}

.price-section table tbody th {
    padding: 15px;
    text-align: start;
}

.price-section table tbody td {
    padding: 15px;
    text-align: start;
}


.speaker-section {
    background: #F8F9FA;
}

.speaker-section>h2 {
    display: block;
    margin: auto;
    font-size: 32px;
    line-height: 43px;
    font-weight: 500;
    text-align: center;
}

.speakers {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.speaker-card {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 217px;
    height: 205px;

}

.speaker-card>h2 {
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin: 8px 0 8px 0;
}

.speaker-card>span {
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    display: block;
    margin: auto;
    font-style: italic;
}

.avatar {
    display: block;
    margin: auto;
    background-size: cover;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 1px solid #FFC107;
}