<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LAYOUT</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" media="screen and (min-width: 1920px)" href="./css/styles-large.css" />
    <link
      rel="stylesheet"
      media="screen and (min-width:768px) and (max-width: 1919px)"
      href="./css/styles-medium.css"
    />
    <link rel="stylesheet" media="screen and (max-width: 767px)" href="./css/styles-small.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <section class="banner">
      <nav>
        <input type="checkbox" id="mune-switch" />
        <label for="mune-switch" class="menu-icon"> </label>
        <ul class="menu">
          <li><a>О мероприятии</a></li>
          <li><a>Регистрация</a></li>
          <li><a>Стоимость участия</a></li>
          <li><a>Спикеры</a></li>
        </ul>
      </nav>
      <div class="group-logo">
        <img class="logo" src="./static-files/logo.png" />
        <label class="banner-lable">НАЗВАНИЕ МЕРОПРИЯТИЯ</label>
        <label class="banner-lable">4 МАЯ 2049</label>
        <label class="banner-lable">в самом сердце страны</label>
        <button class="banner-button">Регистрация</button>
      </div>
    </section>
    <section class="registration-section">
      <div class="text-container">
        <p>Дорогие друзья!</p>
        <p>
          <strong> Lorem ipsum</strong> dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <p>
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.
        </p>
      </div>
      <div class="registration">
        <h2>Регистрация</h2>
        <div class="info">
          <p>Пожалуйста, проверьте правильность введенных данных:</p>
          <span><label>ФИО:</label><span>Иванов Иван Иванович</span></span>
          <span><label>Место работы:</label><span>DIRECTUM</span></span>
          <span><label>E-mail:</label><span>ivanov_ii@directum.ru</span></span>
        </div>
      </div>
    </section>
    <section class="price-section">
      <table>
        <thead>
          <tr>
            <th colspan="3">
              <div class="price-table-lable">
                <h2>Стоимость участия</h2>
                <span>(на 1 человека)</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <th scope="col">Стоимость ДО 1 января</th>
            <th scope="col">Стоимость ПОСЛЕ 1 января</th>
          </tr>
          <tr>
            <th scope="row">С проживанием в 2-местном номере</th>
            <td>30 000 ₽</td>
            <td>35 000 ₽</td>
          </tr>
          <tr>
            <th scope="row">Доплата за 1-местное проживание</th>
            <td>500 ₽</td>
            <td>1 500 ₽</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="speaker-section">
      <h2></h2>
      <div class="speakers">
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
        <div class="speaker-card">
          <img class="avatar" src="./static-files/avatar.png" />
          <h2>Детектив пикачу</h2>
          <span>уморительный, остроумный и обаятельный сыщик</span>
        </div>
      </div>
    </section>
    <footer>
      <img src="./static-files/footer-logo.png" />
      <span>© DIRECTUM, 2019</span>
    </footer>
  </body>
  <div class="modal">
    <span class="material-symbols-outlined modal-close"> close </span>
    <label class="modal-label">Регистрация</label>
    <form class="modal-form" action=".">
      <input class="modal-form-input" type="text" placeholder="ФИО" />
      <input class="modal-form-input" type="email" placeholder="Email" />
      <input class="modal-form-input submit" type="submit" />
    </form>
  </div>
</html>
